<section class="bg-cover bg-center w-full min-h-screen pb-5"
style="background-image: url('{{'assets/img/fondo/fondo.jpg'}}');">
<!-- <div class="absolute h-[115vh] lg:h-[150vh] inset-0 py-12 bg-black bg-opacity-70 group-hover:opacity-75 transition duration-300 ease-in-out"></div> 
 -->
<article class="relative w-full h-full flex justify-center items-center">
    <div class=" w-[60vw] md:w-[40vw] lg:w-[40vw] min-h-screen pt-10">
        <div class="">
            <h3 class="text-center">
                <a href="#" >
                    <img class="h-30 w-full lg:h-48 " src="{{ 'assets/img/logo_gatilindigital_conbolitas.png' }}" />
                </a>
            </h3>
        </div>
        <section class=" sm:m-auto md:m-auto lg:m-auto xl:m-auto py-8 ">
        <div class="grid grid-cols-2 lg:grid-cols-2 gap-x-10 gap-y-8 -ml-5 sm:m-0 md:m-0 lg:m-0">
            <!-- lg:w-48 lg:h-48 sm:w-36 sm:h-36 -ml-5 auto sm:h-32 md:h-36 -->
            <a href="historia" >
                <article class="relative w-32 h-32 sm:w-36 sm:h-36 md:w-40 md:h-40 lg:w-48 lg:h-48 bg-cover bg-center group rounded-lg 
                overflow-hidden transition duration-300 ease-in-out"
                style=" background-image: url('assets/img/fondo/tradicion.png'); position: relative;">
                <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center">
                    <h3 class="text-center">
                            <span class="absolute inset-0"></span>
                    </h3>
                </div>
            </article></a>

            <a href="navidad" >
            <article class="relative w-32 h-32 sm:w-36 sm:h-36 md:w-40 md:h-40 lg:w-48 lg:h-48 bg-cover bg-center group rounded-lg
                overflow-hidden transition duration-300 ease-in-out"
                style=" background-image: url('assets/img/fondo/devocion.png'); position: relative;">
                <!-- clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                <div class="absolute inset-0 bg-yellow-500"
                style=" position: absolute; clip-path: polygon(50% 92.52%, 96.17% 46.35%, 100% 50%, 50% 100%, 0% 50%, 3.83% 46.35%);
                background-color: #f6f83e;"></div>

                <div class="absolute inset-0 bg-black bg-opacity-20 group-hover:opacity-10 transition duration-300 ease-in-out"></div>
                 -->
                <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center">
                    <h3 class="text-center">
                        
                            <span class="absolute inset-0"></span>
                        
                    </h3>
                </div>
            </article></a>
            <a href="festival" >
            <article class="relative  w-32  h-32 sm:w-36 sm:h-36 md:w-40 md:h-40 lg:w-48 lg:h-48 bg-cover bg-center group rounded-lg
                overflow-hidden transition duration-300 ease-in-out"
                style=" background-image: url('assets/img/fondo/festival.png'); position: relative;">
                <!-- clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                <div class="absolute inset-0 bg-yellow-500"
                style=" position: absolute; clip-path: polygon(50% 92.52%, 96.17% 46.35%, 100% 50%, 50% 100%, 0% 50%, 3.83% 46.35%);
                background-color: #f6f83e;"></div>

                <div class="absolute inset-0 bg-black bg-opacity-20 group-hover:opacity-10 transition duration-300 ease-in-out"></div>
                 -->
                <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center">
                    <h3 class="text-center">
                        
                            <span class="absolute inset-0"></span>
                       
                    </h3>
                </div>
            </article></a>
            <a href="cofradia">
            <article class="relative  w-32  h-32 sm:w-36 sm:h-36 md:w-40 md:h-40 lg:w-48 lg:h-48 bg-cover bg-center group rounded-lg
                overflow-hidden transition duration-300 ease-in-out"
                style=" background-image: url('assets/img/fondo/sigueteo.png'); position: relative;">
                <!-- clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                <div class="absolute inset-0 bg-yellow-500"
                style=" position: absolute; clip-path: polygon(50% 92.52%, 96.17% 46.35%, 100% 50%, 50% 100%, 0% 50%, 3.83% 46.35%);
                background-color: #f6f83e;"></div>

                <div class="absolute inset-0 bg-black bg-opacity-20 group-hover:opacity-10 transition duration-300 ease-in-out"></div>
                 -->
                <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center">
                    <h3 class="text-center">
                        
                            <span class="absolute inset-0"></span>
                       
                    </h3>
                </div>
            </article></a>
            <a href="personajes" >
            <article class="relative  w-32  h-32 sm:w-36 sm:h-36 md:w-40 md:h-40 lg:w-48 lg:h-48 bg-cover bg-center group rounded-lg
                overflow-hidden transition duration-300 ease-in-out"
                style=" background-image: url('assets/img/fondo/personajes.png'); position: relative;">
                <!-- clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                <div class="absolute inset-0 bg-yellow-500"
                style=" position: absolute; clip-path: polygon(50% 92.52%, 96.17% 46.35%, 100% 50%, 50% 100%, 0% 50%, 3.83% 46.35%);
                background-color: #f6f83e;"></div>

                <div class="absolute inset-0 bg-black bg-opacity-20 group-hover:opacity-10 transition duration-300 ease-in-out"></div>
                 -->
                <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center">
                    <h3 class="text-center">
                        
                            <span class="absolute inset-0"></span>
                         
                    </h3>
                </div>
            </article></a>
            <a href="bordadurias" >
            <article class="relative  w-32  h-32 sm:w-36 sm:h-36 md:w-40 md:h-40 lg:w-48 lg:h-48 bg-cover bg-center group rounded-lg
                overflow-hidden transition duration-300 ease-in-out"
                style=" background-image: url('assets/img/fondo/bordados.png'); position: relative;">
                <!-- clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                <div class="absolute inset-0 bg-yellow-500"
                style=" position: absolute; clip-path: polygon(50% 92.52%, 96.17% 46.35%, 100% 50%, 50% 100%, 0% 50%, 3.83% 46.35%);
                background-color: #f6f83e;"></div>

                <div class="absolute inset-0 bg-black bg-opacity-20 group-hover:opacity-10 transition duration-300 ease-in-out"></div>
                 -->
                <div class="relative w-full h-full px-4 sm:px-6 lg:px-4 flex justify-center items-center">
                    <h3 class="text-center">
                        
                            <span class="absolute inset-0"></span>
                          
                    </h3>
                </div>
            </article></a>
        </div>
        </section>
    </div>
</article>
</section>

<a href="/" class="btn-flotante"><img class="h-10 w-12
     md:h-16 md:w-24" src="{{ 'assets/img/icos/fle1.png' }}"></a>