<!-- component -->
<section class="bg-cover bg-center w-full"
style="background-image: url('{{'assets/img/fondo/fondo.jpg'}}');">
<!-- <div class="absolute h-[115vh] lg:h-[150vh] inset-0 py-12 bg-black bg-opacity-70 group-hover:opacity-75 transition duration-300 ease-in-out"></div> 
 -->
<div class="flex items-center justify-center min-h-screen ">
<div class="flex flex-col max-w-4xl mx-auto overflow-hidden text-black rounded-lg 
    shadow-lg absolute p-5">
   
    <div class="relative w-full h-full px-2 sm:px-6 lg:px-4 flex justify-center items-center ">
        <!-- component -->
        <section class="bg-white  rounded-lg overflow-y-auto" style="height:70vh">
            
            <section class="max-w-2xl px-6 py-1 mx-auto bg-white ">
                <header class="pt-6 text-center">
                    Festival
                </header>

                <main class="mt-4">
                    <p class="mt-2 leading-loose text-gray-600 text-justify">
                        El Festival de Negritos Huanuqueño es una vibrante celebración 
                        que fusiona la herencia cultural afroperuana con la rica tradición 
                        de la región de Huánuco, Perú. Los invitamos a ser parte de esta
                    </p>

                    <iframe  class="w-full h-64 my-10 rounded-lg md:h-80" src="https://www.youtube.com/embed/-LoCoQj1pjA?si=JhebUb1PqOcntFZJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </main>
            </section>
        </section>
    </div>
    
</div>
</div>
</section>

<a href="/home" class="btn-flotante"><img class="h-10 w-12
    md:h-16 md:w-24" src="{{ 'assets/img/icos/fle1.png' }}"></a>