
<section  class="w-full min-h-screen bg-black">
<div class="container relative flex flex-col min-h-screen px-6 py-8 mx-auto">
    <a href="/home">
    <div class="container px-6 py-16 mx-auto text-center">
        <div class="max-w-lg mx-auto">
            <h1 class="text-5xl font-extrabold text-center lg:text-7xl 2xl:text-8xl">
                <img class="h-30 w-full lg:h-48" src="{{ 'assets/img/namer.png' }}" />
            </h1>
            <p class="text-transparent bg-gradient-to-br bg-clip-text pb-10
            from-white via-white to-white">Festividad emblemática Huanuqueña, ven y disfruta de esta
                celebración en honor al Niño Jesús.
            </p>
        </div>
        <a href="/home" class="block w-full select-none rounded-lg bg-amber-500 py-3.5 px-7 
            text-center align-middle font-sans text-lg font-bold uppercase text-white 
            shadow-md shadow-amber-500/20 transition-all hover:shadow-lg 
            hover:shadow-amber-500/40 focus:opacity-[0.85] focus:shadow-none 
            active:opacity-[0.85] active:shadow-none disabled:pointer-events-none
            disabled:opacity-50 disabled:shadow-none" data-ripple-light="true">
            ¡Vivir la Festividad!
        </a>
        <div class="flex justify-center mt-10">
            <img class="object-cover w-full h-96 rounded-xl lg:w-5/5" src="{{ 'assets/img/img/Negritos/52750166519_ea0386d94a_k.jpg' }}" />
        </div>
    </div>
    </a>
    <section class="flex items-center flex-1">
        <div class="flex flex-col w-full ">
        <div class="max-w-screen-xl mx-auto mb-10">
            <div class="grid grid-cols-2 gap-6 md:grid-cols-5 lg:grid-cols-4">
                <div class="flex items-center justify-center col-span-1 md:col-span-2 lg:col-span-1">
                    <a href="https://muniamarilis.gob.pe/" target="_blank">
                    <img class="h-10 text-gray-500 fill-current " src="{{ 'assets/img/logos/amarilisLogor.png' }}" class="h-32 w-full" alt="">
                    </a>
                </div>
                <div class="flex items-center justify-center col-span-1 md:col-span-2 lg:col-span-1">
                    <img class="h-12 text-gray-500 fill-current " src="{{ 'assets/img/logo.png' }}" class="h-26 w-full" alt="">
                </div>
                <div class="flex items-center justify-center col-span-1 md:col-span-2 lg:col-span-1">
                    <img class="h-8 mt-2 text-gray-500 fill-current " src="{{ 'assets/img/logos/escudoamarilisconbordeblanco.png' }}" class="h-32 w-26" alt="">
                </div>

                <div class="flex items-center justify-center col-span-1 md:col-span-3 lg:col-span-1">
                    <a href="http://udh.edu.pe/" target="_blank">
                    <img class="h-5 mt-1 text-gray-500 fill-current " src="{{ 'assets/img/logos/LogoS.png' }}" class="h-24 w-26" alt="">
                    </a>
                </div>

                <!-- component 
                <div class="flex items-center justify-center col-span-2 md:col-span-3 lg:col-span-1">
                    <img class="h-5 text-gray-500 fill-current " src="{{ 'assets/img/logos/udhLogor.png' }}" class="h-24 w-26" alt="">
                </div>-->
            </div>
        </div>
        </div>
    </section>
</div>
</section>


<a class="btn-flotante4"><img class="h-12 w-12
    md:h-24 md:w-24" src="{{ 'assets/img/logos/escudoamarilisconbordeblanco.png' }}"></a>
<a href="/home" class="btn-flotante3"><img class="h-12 w-12
    md:h-24 md:w-24" src="{{ 'assets/img/icos/logoP.png' }}"></a>