<!-- component -->
<section class="bg-cover bg-center w-full"
style="background-image: url('{{'assets/img/fondo/fondo.jpg'}}');">
<!-- <div class="absolute h-[115vh] lg:h-[150vh] inset-0 py-12 bg-black bg-opacity-70 group-hover:opacity-75 transition duration-300 ease-in-out"></div> 
 -->  
<div class="flex items-center justify-center min-h-screen">
<div class="flex flex-col max-w-4xl mx-auto overflow-hidden text-black rounded-lg shadow-lg absolute p-5 py-4">
   
    <div class="relative w-full h-full px-2 sm:px-6 lg:px-4 flex justify-center items-center ">
        <!-- component -->
        <section class="bg-white rounded-lg overflow-y-auto" style="height:90vh">

                <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 pb-6">
                    <div class="text-center py-6">
                        <h2 class="text-base font-bold text-blue-600">
                            Festividad Huanuqueña
                        </h2>
                        <h1 class="font-bold text-2xl md:text-3xl lg:text-5xl font-heading text-blue-700">
                            Personajes De Las Cofradías
                        </h1>
                    </div>
                    <div class="grid grid-cols-1 xl:grid-cols-2 gap-6">
                        <div class="w-full bg-blue-700 rounded-lg sahdow-lg overflow-hidden flex flex-col md:flex-row">
                            <div class="w-full md:w-2/5 h-80">
                                <img class="object-center object-cover w-full h-full" 
                                src="{{'assets/img/img/Negritos/52750331185_545e97292b_o.jpg'}}" alt="photo">
                            </div>
                            <div class="w-full md:w-3/5 text-left p-6 md:p-4 space-y-2">
                                <p class="text-xl text-white font-bold">El Turco y la Dama</p>
                                
                                <p class="text-base leading-relaxed text-blue-200 font-normal  text-justify">
                                    Representan a los tratantes de negros. Como amos, estos caminan vistosos, 
                                    elegantes y orgullosos alrededor de la cuadrilla como muestra de poder.
                                </p>
                            </div>
                        </div>
                        <div class="w-full bg-blue-700 rounded-lg sahdow-lg overflow-hidden flex flex-col md:flex-row">
                            <div class="w-full md:w-2/5 h-80">
                                <img class="object-center object-cover w-full h-full" src="{{'assets/img/img/Negritos/abanderados.jpg'}}" alt="photo">
                            </div>
                            <div class="w-full md:w-3/5 text-left p-4 md:p-4 space-y-2">
                                <p class="text-xl text-white font-bold">El Abanderado</p>
                                    <p class="text-base leading-relaxed text-blue-200  font-normal  text-justify">
                                    Este personaje fue incorporado a la danza con posterioridad. 
                                    Lo característico del personaje es que lleva una bandera 
                                    argentina y se dice que representa la independencia de nuestro país.
                                </p>
                            </div>
                        </div>
                        <div class="w-full bg-blue-700 rounded-lg sahdow-lg overflow-hidden flex flex-col md:flex-row">
                            <div class="w-full md:w-2/5 h-80">
                                <img class="object-center object-cover w-full h-full"  src="{{'assets/img/img/Negritos/corochanos.jpg'}}" alt="photo">
                            </div>
                            <div class="w-full md:w-3/5 text-left p-4 md:p-4 space-y-2">
                                <p class="text-xl text-white font-bold">El Corochano</p>
                                    <p class="text-base leading-relaxed text-blue-200  font-normal  text-justify">
                                    Es un personaje particular en la danza ya que tiene un doble rol. 
                                    Por un lado, ridiculiza a este viejo personaje jugando o asustando 
                                    a los espectadores; por otro lado, cumple la misión de ordenar a 
                                    los negros y mantener libre el espacio para que la cuadrilla pueda 
                                    ejecutar la danza. Es el único personaje de máscara blanca y 
                                    largas barbas a veces usando un látigo o en otras una matraca 
                                    grande y vieja. Dicen que un buen corrochano es aquel que nunca 
                                    se deja saber quién es, de allí que modula su voz para no ser reconocidos.
                                </p>
                            </div>
                        </div>
                        <div class="w-full bg-blue-700 rounded-lg sahdow-lg overflow-hidden flex flex-col md:flex-row">
                            <div class="w-full md:w-2/5 h-80">
                                <img class="object-center object-cover w-full h-full" src="{{'assets/img/img/Negritos/cora.jpg'}}" alt="photo">
                            </div>
                            <div class="w-full md:w-3/5 text-left p-6 md:p-4 space-y-2">
                                <p class="text-xl text-white font-bold">Los Caporales</p>
                                    <p class="text-base leading-relaxed text-blue-200  font-normal  text-justify">
                                    Los caporales son los jefes de la cuadrilla de negros. 
                                    Son quienes guían y ordenan a los “pampas” que mudanzas 
                                    hacer. Se visten de manera más vistosa y se colocan a la 
                                    cabecera de cada lado de la cuadrilla bailando de manera 
                                    más elegante y señorial.
                                </p>
                            </div>
                        </div>
                        <div class="w-full bg-blue-700 rounded-lg sahdow-lg overflow-hidden flex flex-col md:flex-row">
                            <div class="w-full md:w-2/5 h-80">
                                <img class="object-center object-cover w-full h-full" 
                                src="{{'assets/img/img/Negritos/pampa.jpg'}}" alt="photo">
                            </div>
                            <div class="w-full md:w-3/5 text-left p-4 md:p-4 space-y-2">
                                <p class="text-xl text-white font-bold">Los Pampas</p>
                                    <p class="text-base leading-relaxed text-blue-200  font-normal  text-justify">
                                    Son los negros que conforman la cuadrilla. Usualmente entre 10 
                                    a 12 parejas bailan en 2 filas siguiendo las ordenes de los 
                                    caporales respecto qué mudanzas ejecutar. Los negros visten 
                                    de un cotón adornado en lentejuelas y cintas, un sombrero 
                                    de plumas, una máscara de negro y en sus manos llevan una 
                                    “chicotillo” que representa la cadena de la esclavitud. 
                                    Los “chicotillos” finalizan en una campanilla que hacen 
                                    sonar a la vez que ejecutan la danza.</p>
                            </div>
                        </div>
                    </div>
                </section>
   
        </section>
    </div>
   
</div>
</div>
</section>

<a href="/home" class="btn-flotante"><img class="h-10 w-12
    md:h-16 md:w-24" src="{{ 'assets/img/icos/fle1.png' }}"></a>