<!-- component -->
<section class="bg-cover bg-center w-full"
style="background-image: url('{{'assets/img/fondo/fondo.jpg'}}');">
<!-- <div class="absolute h-[115vh] lg:h-[150vh] inset-0 py-12 bg-black bg-opacity-70 group-hover:opacity-75 transition duration-300 ease-in-out"></div> 
 -->  
<div class="flex items-center justify-center  min-h-screen">
<div class="flex flex-col max-w-4xl mx-auto overflow-hidden text-black rounded-lg shadow-lg absolute p-5 py-4">
   
    <section class=" px-2 py-8">
        <div class="flex flex-col">
            <div class="relative w-full h-full px-2 sm:px-6 lg:px-4 flex justify-center items-center ">
                <!-- component -->
                <section class="bg-white bg-cover bg-center rounded-lg overflow-y-auto" style="height:90vh"
                    style="background-image: url('{{'assets/img/logos/agua2.jpg'}}');">
                    <div class="container px-6 py-8 mx-auto">
                        <h1 class="text-2xl px-4 font-semibold text-gray-800 capitalize lg:text-3xl ">
                            Una fiesta de Fe y Devoción
                        </h1>

                        <!-- component -->
                        <div class="my-5 lg:-mx-6 lg:flex lg:items-center px-4">
                            <img class="object-cover w-full lg:mx-6 lg:w-1/2 rounded-xl h-72 lg:h-96" src="{{ 'assets/img/img/Negrito-en-Navidad.png' }}" alt="">

                            <div class="mt-6 lg:w-1/2 lg:mt-0 lg:mx-6 ">
                                <p class="text-sm text-blue-500 uppercase">La FE y Gracia</p>

                                <p class="mt-3 text-sm text-gray-500 md:text-sm text-justify">
                                    “La Danza de los Negritos es, desde sus inicios y durante toda su historia, 
                                    <strong class="text-blue-700">
                                    una manifestación de fe y amor al Niño Dios [que acaba de nacer en un 
                                    pesebre de Belén]</strong>.  <br><br>
                                    Es, sin duda, la devoción católica más grande que 
                                    se vive en el Perú y tal vez en el mundo. Incluso puedo decir 
                                    que Huánuco es la ciudad del Niño Jesús.
                                    
                                </p>
                                <!-- component 
                                <div class="flex items-center mt-6">
                                    <img class="object-cover object-center w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1531590878845-12627191e687?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="">

                                    <div class="mx-4">
                                        <h1 class="text-sm text-gray-700 dark:text-gray-200">Amelia. Anderson</h1>
                                        <p class="text-sm text-gray-500 dark:text-gray-400">Lead Developer</p>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <!-- component -->
                        <div class="flex items-center justify-center  px-4 text-justify">
                            <div class="space-y-6 border-l-2 border-dashed">
                            <div class="relative w-full">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-blue-500">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                </svg>
                                <div class="ml-6">
                                <h4 class="font-bold text-blue-500">Este acto de fe comienza</h4>
                                <p class="mt-2 max-w-screen-sm text-sm text-gray-500">
                                    Con la bendición de los mayordomos, quienes se comprometen a 
                                    organizar la fiesta. Tienen que trabajar mucho y hacer grandes 
                                    sacrificios. Hacen girar su vida durante todo el año en torno 
                                    a un compromiso asumido.</p>
                                </div>
                            </div>
                            <div class="relative w-full">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-blue-500">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                </svg>
                                <div class="ml-6">
                                <h4 class="font-bold text-blue-500">Cuando los mayordomos buscan a los bailantes</h4>
                                <p class="mt-2 max-w-screen-sm text-sm text-gray-500">
                                    Estos se comprometen por amor al Niño Jesús, a quien le 
                                    expresan gestos de fe y amor: conseguir el disfraz, 
                                    participar en los ensayos, dejar de trabajar durante 
                                    los días de fiesta, soportar el cansancio y el calor. 
                                    <strong class="text-blue-700">
                                    Todo por el Niño Jesús</strong>. Demuestran, de modo especial, 
                                    su participación en la Santa Misa y en la danza de la adoración.
                                    Al término de la fiesta, todos los que han participado, 
                                    guiados por su fe, con gestos y detalles de amor al Niño 
                                    Jesús, estamos seguros, son bendecidos por él.
                                    </p>
                                
                                </div>
                            </div>
                            <div class="relative w-full">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-blue-500">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                </svg>
                                <div class="ml-6">
                                <h4 class="font-bold text-blue-500">El Niño Jesús</h4>
                                <p class="mt-2 max-w-screen-sm text-sm text-gray-500">
                                    Que el Niño Jesús, el Hijo de Dios, que ha venido a 
                                    este mundo para salvarnos, siga bendiciendo abundantemente 
                                    a todos los que, guiados por la fe, hacen posible la danza 
                                    de Los Negritos, que comenzó en Huánuco, todo por la gloria 
                                    de Dios, el engrandecimiento de la Iglesia Católica y el bien 
                                    de todos nosotros”. Padre Oswaldo Rodríguez Martínez.
                                </p>
                                </div>
                            </div>
                            <div class="relative w-full">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-3.5 h-7 w-7 rounded-full text-blue-500">
                                <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                </svg>
                                <div class="ml-6">
                                <h4 class="font-bold text-blue-500">Oración del Negrito de Huánuco</h4>
                                <p class="mt-2 max-w-screen-sm text-sm text-gray-500">
                                    Bendito Niño Jesús, <br>
                                    vengo a ti, para adorarte, <br>
                                    porque has nacido para salvarme.<br>
                                    <br>
                                    Te traigo mis penas y mis alegrías; <br>
                                    mis frustraciones y mis esperanzas,<br>
                                    y en esta danza te entrego <br>
                                    mi corazón y mi esfuerzo,<br>
                                    como muestra de mi amor por ti <br>
                                    Niño Bendito.<br>
                                    <br>
                                    Me inclino ante tu imagen y te suplico que <br>
                                    protejas y bendigas a mi Familia,<br>
                                    a nuestros trabajos y nuestros anhelos,<br>
                                    pero sobre todo no permitas<br>
                                    que me aleje de ti.<br>
                                    <br>
                                    Amén.
                                </p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    
</div>
</div>
</section>

<a href="/home" class="btn-flotante"><img class="h-10 w-12
    md:h-16 md:w-24" src="{{ 'assets/img/icos/fle1.png' }}"></a>