<div class="container p-6 mx-auto text-center">
    <div class="flex justify-center">
        <img class="h-12 text-gray-500 fill-current " src="{{ 'assets/img/logo.png' }}" class="h-26 w-26" alt="">
    </div>
    <div class="max-w-lg mx-auto">
        <p class=" text-gray-300 text-md">Somos Avance, Somos Transformacion Digital</p>
    </div>
    
</div>
<div class="w-full text-center overflow-y-auto" style="height:50vh">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full shadow-lg rounded-lg">
        <div class="px-6 py-5 flex-auto">
          <h6 class="text-lg font-semibold text-gray-600">Quienes Somos??</h6>
          <p class="text-sm mt-2 mb-4 text-gray-700 text-justify">
            MerakT es un <span class=" text-teal-600">faro de innovación</span>, un centro donde la 
            <span class=" text-purple-700">transformación digital</span> cobra vida. 
            Está integrada por mentes universitarias de la <span class=" text-pink-600">
            Facultad de Ingeniería - UDH</span> , fusionando talento 
            tanto de <span class=" text-sky-700">Sistemas e Informática</span> como de 
              <span class=" text-blue-800">Ingeniería Civil</span>.<br> La colaboración es nuestra 
            fuerza impulsora, creando un entorno colaborativo de organización y desarrollo para formar el 
            <span class=" text-lime-600">futuro digital</span> con nuestras propias manos. <br>
            ¡Bienvenido al epicentro de la transformación, donde 
            los sueños digitales se hacen realidad! Donde si tu pasión es la Tecnología eres MERAKT
          </p>
        </div>
      </div>
</div>
<div class="container mx-auto text-center md:-mt-16 lg:-mt-16">
  <div class="max-w-lg mx-auto">
      <p class=" text-gray-300 text-lg py-8">Equipo MerakT</p>
  </div>
</div>
<section class="flex items-center flex-1">
    <div class="flex flex-col w-full ">
    <div class="max-w-screen-xl mb-10">
        <!-- component -->
        <section class="text-gray-600 body-font">
            <div class="container">
              <div class="flex flex-wrap -m-4">
                <div class="lg:w-1/3 sm:w-1/2 w-full py-4 px-2">
                  <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-48 md:h-full lg:h-full object-cover object-center"
                       src="{{'assets/img/equipo/12.jpg'}}">
                    <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                      <h2 class="tracking-widest text-lg title-font font-bold text-indigo-800 mb-1">Nicole J. <br> Garay Flores</h2>
                      <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dev.</h1>
                      <a href="https://www.linkedin.com/in/nicole-gf-a01b88295/">
                        <p class="leading-relaxed">LinkedIn</p></a>
                    </div>
                  </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2  w-full  py-4 px-2">
                  <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-48 md:h-full lg:h-full object-cover object-center"
                       src="{{'assets/img/equipo/13.jpg'}}">
                    <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                        <h2 class="tracking-widest text-lg title-font font-bold text-indigo-800 mb-1">Andre <br> Argandoña Becerra</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dev.</h1>
                        <a href="https://www.linkedin.com/in/andre-argando%C3%B1a-3011a6263/">
                          <p class="leading-relaxed">LinkedIn</p></a>
                    </div>
                  </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2  w-full  py-4 px-2">
                  <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-48 md:h-full lg:h-full object-cover object-center" src="{{'assets/img/equipo/15.jpg'}}">
                    <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                        <h2 class="tracking-widest text-lg title-font font-bold text-indigo-800 mb-1">Madait M.<br> Rivera Buruneo</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dev.</h1>
                        <a href="https://www.linkedin.com/in/madait-rivera-9466052a4">
                          <p class="leading-relaxed">Linkendin</p></a>
                    </div>
                  </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2  w-full  py-4 px-2">
                    <div class="flex relative">
                      <img alt="gallery" class="absolute inset-0 w-full h-48 md:h-full lg:h-full object-cover object-center" src="{{'assets/img/equipo/18.jpg'}}">
                      <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                          <h2 class="tracking-widest text-lg title-font font-bold text-indigo-800 mb-1">Walter D. <br> Garay Caballero</h2>
                          <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dev.</h1>
                          <a href="www.linkedin.com/in/david-garay-caballero">
                            <p class="leading-relaxed">LinkedIn</p></a>
                      </div>
                    </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2  w-full  py-4 px-2">
                  <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-48 md:h-full lg:h-full object-cover object-center" 
                      src="{{'assets/img/equipo/14.jpg'}}">
                    <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                        <h2 class="tracking-widest text-lg title-font font-bold text-indigo-800 mb-1">Josephine N. <br> Berrospi Duran</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dev.</h1>
                        <a href="https://www.linkedin.com/in/josephine-nahira-berrospi-duran-a204402a6/">
                          <p class="leading-relaxed">LinkedIn</p></a>
                    </div>
                  </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2  w-full  py-4 px-2">
                  <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-48 md:h-full lg:h-full object-cover object-center" 
                      src="{{'assets/img/equipo/24.jpeg'}}">
                    <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                        <h2 class="tracking-widest text-lg title-font font-bold text-indigo-800 mb-1">Diego L. <br> Javier Zambrano</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dev.</h1>
                        <a href="www.linkedin.com/in/diego-javier-zambrano-22b8051b3">
                        <p class="leading-relaxed">Linkendin</p></a>
                    </div>
                  </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2  w-full  py-4 px-2">
                  <div class="flex relative">
                  <img alt="gallery" class="absolute inset-0 w-full h-48 md:h-full lg:h-full object-cover object-center"
                     src="{{'assets/img/equipo/16.jpg'}}">
                  <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                      <h2 class="tracking-widest text-lg title-font font-bold text-indigo-800 mb-1">Leonardo J. <br> Ceferino Olortin </h2>
                      <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dev.</h1>
                      <a href="https://www.linkedin.com/in/leonardo-jaren-ceferino-olortin-688285296/">
                        <p class="leading-relaxed">Linkendin</p></a>
                  </div>
                  </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2  w-full  py-4 px-2">
                    <div class="flex relative">
                      <img alt="gallery" class="absolute inset-0 w-full h-48 md:h-full lg:h-full object-cover object-center" src="{{'assets/img/equipo/19.jpg'}}">
                      <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                          <h2 class="tracking-widest text-lg title-font font-bold text-indigo-800 mb-1">Carlos <br> Venancio Minaya</h2>
                          <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dev.</h1>
                          
                          <a href="www.linkedin.com/in/carlos-venancio-minaya-2ba3a4296">
                            <p class="leading-relaxed">Linkendin</p></a>
                      </div>
                    </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2  w-full  py-4 px-2">
                  <div class="flex relative">
                  <img alt="gallery" class="absolute inset-0 w-full h-48 md:h-full lg:h-full object-cover object-center" src="{{'assets/img/equipo/21.jpg'}}">
                  <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                      <h2 class="tracking-widest text-lg title-font font-bold text-indigo-800 mb-1">Enrique D. <br> Vidal Garcia</h2>
                      <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dev.</h1>
                      <a href="www.linkedin.com/in/diego-enrique-vidal-garcia-7969132a4">
                        <p class="leading-relaxed">Linkendin</p></a>
                  </div>
                  </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2  w-full  py-4 px-2">
                  <div class="flex relative">
                  <img alt="gallery" class="absolute inset-0 w-full h-48 md:h-full lg:h-full object-cover object-center" src="{{'assets/img/equipo/22.jpg'}}">
                  <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                      <h2 class="tracking-widest text-lg title-font font-bold text-indigo-800 mb-1">William A. <br> Saravia Leon</h2>
                      <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dev.</h1>
                      <p class="leading-relaxed">- - -</p>
                  </div>
                  </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2  w-full  py-4 px-2">
                  <div class="flex relative">
                    <img alt="gallery" class="absolute inset-0 w-full h-48 md:h-full lg:h-full object-cover object-center" src="{{'assets/img/equipo/17.jpg'}}">
                    <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                        <h2 class="tracking-widest text-lg title-font font-bold text-indigo-800 mb-1">Erick M. <br> Vasquez Rengifo</h2>
                        <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dev.</h1>
                        <a href="https://www.linkedin.com/in/erickson-meliano-vasquez-rengifo-051062281/">
                          <p class="leading-relaxed">Linkendin</p></a>
                    </div>
                  </div>
                </div>
                <div class="lg:w-1/3 sm:w-1/2  w-full  py-4 px-2">
                  <div class="flex relative">
                      <img alt="gallery" class="absolute inset-0 w-full h-48 md:h-full lg:h-full object-cover object-center" src="{{'assets/img/equipo/20.jpg'}}">
                      <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                          <h2 class="tracking-widest text-lg title-font font-bold text-indigo-800 mb-1">Jose <br> Hidalgo Valdivieso</h2>
                          <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dev.</h1>
                          <a href="https://www.linkedin.com/in/jos%C3%A9-hidalgo-valdivieso-3915b7281?trk=contact-info">
                            <p class="leading-relaxed">Linkendin</p></a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
    </div>
    </div>
</section>
<a href="/" class="btn-flotante4"><img class="h-10 w-8" src="{{ 'assets/img/logos/udhLogor.png' }}"></a>

<a href="/home" class="btn-flotante"><img class="h-10 w-12
    md:h-16 md:w-24" src="{{ 'assets/img/icos/fle1.png' }}"></a>